In [6]:
from kafka import KafkaProducer
import csv
import json
from kafka.errors import KafkaError

def read_csv(file_path):
    with open(file_path, mode='r') as file:
        csv_reader = csv.DictReader(file)
        for row in csv_reader:
            yield row

def on_send_success(record_metadata):
    print(f'Message successfully sent to topic {record_metadata.topic} partition {record_metadata.partition} offset {record_metadata.offset}')

def on_send_error(excp):
    print(f'I am an error callback: {excp}')
    # Handle the exception

def main():
    producer = KafkaProducer(
        bootstrap_servers='localhost:9092',
        value_serializer=lambda v: json.dumps(v).encode('utf-8')
    )
    
    for data in read_csv('sample_data.csv'):
        producer.send('my_topic', value=data).add_callback(on_send_success).add_errback(on_send_error)
        
    producer.flush()
    producer.close()

if __name__ == '__main__':
    main()

Message successfully sent to topic my_topic partition 0 offset 500
Message successfully sent to topic my_topic partition 0 offset 501
Message successfully sent to topic my_topic partition 0 offset 502
Message successfully sent to topic my_topic partition 0 offset 503
Message successfully sent to topic my_topic partition 0 offset 504
Message successfully sent to topic my_topic partition 0 offset 505
Message successfully sent to topic my_topic partition 0 offset 506
Message successfully sent to topic my_topic partition 0 offset 507
Message successfully sent to topic my_topic partition 0 offset 508
Message successfully sent to topic my_topic partition 0 offset 509
Message successfully sent to topic my_topic partition 0 offset 510
Message successfully sent to topic my_topic partition 0 offset 511
Message successfully sent to topic my_topic partition 0 offset 512
Message successfully sent to topic my_topic partition 0 offset 513
Message successfully sent to topic my_topic partition 0 offset 514
Message successfully sent to topic my_topic partition 0 offset 515
Message successfully sent to topic my_topic partition 0 offset 516
Message successfully sent to topic my_topic partition 0 offset 517
Message successfully sent to topic my_topic partition 0 offset 518
Message successfully sent to topic my_topic partition 0 offset 519
Message successfully sent to topic my_topic partition 0 offset 520
Message successfully sent to topic my_topic partition 0 offset 521
Message successfully sent to topic my_topic partition 0 offset 522
Message successfully sent to topic my_topic partition 0 offset 523
Message successfully sent to topic my_topic partition 0 offset 524
Message successfully sent to topic my_topic partition 0 offset 525
Message successfully sent to topic my_topic partition 0 offset 526
Message successfully sent to topic my_topic partition 0 offset 527
Message successfully sent to topic my_topic partition 0 offset 528
Message successfully sent to topic my_topic partition 0 offset 529
Message successfully sent to topic my_topic partition 0 offset 530
Message successfully sent to topic my_topic partition 0 offset 531
Message successfully sent to topic my_topic partition 0 offset 532
Message successfully sent to topic my_topic partition 0 offset 533
Message successfully sent to topic my_topic partition 0 offset 534
Message successfully sent to topic my_topic partition 0 offset 535
Message successfully sent to topic my_topic partition 0 offset 536
Message successfully sent to topic my_topic partition 0 offset 537
Message successfully sent to topic my_topic partition 0 offset 538
Message successfully sent to topic my_topic partition 0 offset 539
Message successfully sent to topic my_topic partition 0 offset 540
Message successfully sent to topic my_topic partition 0 offset 541
Message successfully sent to topic my_topic partition 0 offset 542
Message successfully sent to topic my_topic partition 0 offset 543
Message successfully sent to topic my_topic partition 0 offset 544
Message successfully sent to topic my_topic partition 0 offset 545
Message successfully sent to topic my_topic partition 0 offset 546
Message successfully sent to topic my_topic partition 0 offset 547
Message successfully sent to topic my_topic partition 0 offset 548
Message successfully sent to topic my_topic partition 0 offset 549
Message successfully sent to topic my_topic partition 0 offset 550
Message successfully sent to topic my_topic partition 0 offset 551
Message successfully sent to topic my_topic partition 0 offset 552
Message successfully sent to topic my_topic partition 0 offset 553
Message successfully sent to topic my_topic partition 0 offset 554
Message successfully sent to topic my_topic partition 0 offset 555
Message successfully sent to topic my_topic partition 0 offset 556
Message successfully sent to topic my_topic partition 0 offset 557
Message successfully sent to topic my_topic partition 0 offset 558
Message successfully sent to topic my_topic partition 0 offset 559
Message successfully sent to topic my_topic partition 0 offset 560
Message successfully sent to topic my_topic partition 0 offset 561
Message successfully sent to topic my_topic partition 0 offset 562
Message successfully sent to topic my_topic partition 0 offset 563
Message successfully sent to topic my_topic partition 0 offset 564
Message successfully sent to topic my_topic partition 0 offset 565
Message successfully sent to topic my_topic partition 0 offset 566
Message successfully sent to topic my_topic partition 0 offset 567
Message successfully sent to topic my_topic partition 0 offset 568
Message successfully sent to topic my_topic partition 0 offset 569
Message successfully sent to topic my_topic partition 0 offset 570
Message successfully sent to topic my_topic partition 0 offset 571
Message successfully sent to topic my_topic partition 0 offset 572
Message successfully sent to topic my_topic partition 0 offset 573
Message successfully sent to topic my_topic partition 0 offset 574
Message successfully sent to topic my_topic partition 0 offset 575
Message successfully sent to topic my_topic partition 0 offset 576
Message successfully sent to topic my_topic partition 0 offset 577
Message successfully sent to topic my_topic partition 0 offset 578
Message successfully sent to topic my_topic partition 0 offset 579
Message successfully sent to topic my_topic partition 0 offset 580
Message successfully sent to topic my_topic partition 0 offset 581
Message successfully sent to topic my_topic partition 0 offset 582
Message successfully sent to topic my_topic partition 0 offset 583
Message successfully sent to topic my_topic partition 0 offset 584
Message successfully sent to topic my_topic partition 0 offset 585
Message successfully sent to topic my_topic partition 0 offset 586
Message successfully sent to topic my_topic partition 0 offset 587
Message successfully sent to topic my_topic partition 0 offset 588
Message successfully sent to topic my_topic partition 0 offset 589
Message successfully sent to topic my_topic partition 0 offset 590
Message successfully sent to topic my_topic partition 0 offset 591
Message successfully sent to topic my_topic partition 0 offset 592
Message successfully sent to topic my_topic partition 0 offset 593
Message successfully sent to topic my_topic partition 0 offset 594
Message successfully sent to topic my_topic partition 0 offset 595
Message successfully sent to topic my_topic partition 0 offset 596
Message successfully sent to topic my_topic partition 0 offset 597
Message successfully sent to topic my_topic partition 0 offset 598
Message successfully sent to topic my_topic partition 0 offset 599

In [9]:
from kafka import KafkaConsumer
import json
import mysql.connector
from mysql.connector import Error

def insert_into_db(data):
    try:
        conn = mysql.connector.connect(
            host='gateway01.ap-southeast-1.prod.aws.tidbcloud.com',
            port=4000,
            user="2tQpfsQzrrg6wDM.root",
            password="IVvTfpI0f4CJtHBB",
            database="kafka",
        )
        cursor = conn.cursor()
        
        add_data = ("INSERT INTO your_table "
                    "(id, name, age, city) "
                    "VALUES (%s, %s, %s, %s)")
        
        data_tuple = (data['id'], data['name'], data['age'], data['city'])
        cursor.execute(add_data, data_tuple)
        
        conn.commit()
        print(f"Inserted data: {data}")
    except Error as e:
        print(f"Error: {e}")
    finally:
        if cursor:
            cursor.close()
        if conn:
            conn.close()

def main():
    print("Starting Kafka consumer...")
    consumer = KafkaConsumer(
        'my_topic',
        bootstrap_servers='localhost:9092',
        auto_offset_reset='earliest',
        enable_auto_commit=True,
        group_id='my_group',
        value_deserializer=lambda m: json.loads(m.decode('utf-8')),
        consumer_timeout_ms=10000  # Timeout after 10 seconds if no message is received
    )
    
    for message in consumer:
        data = message.value
        print(f"Received data: {data}")
        insert_into_db(data)
    
    print("No more messages in the topic or consumer timed out.")
    consumer.close()

if __name__ == '__main__':
    main()

Starting Kafka consumer...
Received data: {'id': '1', 'name': 'Person 1', 'age': '21', 'city': 'City 1'}
Inserted data: {'id': '1', 'name': 'Person 1', 'age': '21', 'city': 'City 1'}
Received data: {'id': '2', 'name': 'Person 2', 'age': '22', 'city': 'City 2'}
Inserted data: {'id': '2', 'name': 'Person 2', 'age': '22', 'city': 'City 2'}
Received data: {'id': '3', 'name': 'Person 3', 'age': '23', 'city': 'City 3'}
Inserted data: {'id': '3', 'name': 'Person 3', 'age': '23', 'city': 'City 3'}
Received data: {'id': '4', 'name': 'Person 4', 'age': '24', 'city': 'City 4'}
Inserted data: {'id': '4', 'name': 'Person 4', 'age': '24', 'city': 'City 4'}
Received data: {'id': '5', 'name': 'Person 5', 'age': '25', 'city': 'City 5'}
Inserted data: {'id': '5', 'name': 'Person 5', 'age': '25', 'city': 'City 5'}
Received data: {'id': '6', 'name': 'Person 6', 'age': '26', 'city': 'City 6'}
Inserted data: {'id': '6', 'name': 'Person 6', 'age': '26', 'city': 'City 6'}
Received data: {'id': '7', 'name': 'Person 7', 'age': '27', 'city': 'City 7'}
Inserted data: {'id': '7', 'name': 'Person 7', 'age': '27', 'city': 'City 7'}
Received data: {'id': '8', 'name': 'Person 8', 'age': '28', 'city': 'City 8'}
Inserted data: {'id': '8', 'name': 'Person 8', 'age': '28', 'city': 'City 8'}
Received data: {'id': '9', 'name': 'Person 9', 'age': '29', 'city': 'City 9'}
Inserted data: {'id': '9', 'name': 'Person 9', 'age': '29', 'city': 'City 9'}
Received data: {'id': '10', 'name': 'Person 10', 'age': '30', 'city': 'City 0'}
Inserted data: {'id': '10', 'name': 'Person 10', 'age': '30', 'city': 'City 0'}
Received data: {'id': '11', 'name': 'Person 11', 'age': '31', 'city': 'City 1'}
Inserted data: {'id': '11', 'name': 'Person 11', 'age': '31', 'city': 'City 1'}
Received data: {'id': '12', 'name': 'Person 12', 'age': '32', 'city': 'City 2'}
Inserted data: {'id': '12', 'name': 'Person 12', 'age': '32', 'city': 'City 2'}
Received data: {'id': '13', 'name': 'Person 13', 'age': '33', 'city': 'City 3'}
Inserted data: {'id': '13', 'name': 'Person 13', 'age': '33', 'city': 'City 3'}
Received data: {'id': '14', 'name': 'Person 14', 'age': '34', 'city': 'City 4'}
Inserted data: {'id': '14', 'name': 'Person 14', 'age': '34', 'city': 'City 4'}
Received data: {'id': '15', 'name': 'Person 15', 'age': '35', 'city': 'City 5'}
Inserted data: {'id': '15', 'name': 'Person 15', 'age': '35', 'city': 'City 5'}
Received data: {'id': '16', 'name': 'Person 16', 'age': '36', 'city': 'City 6'}
Inserted data: {'id': '16', 'name': 'Person 16', 'age': '36', 'city': 'City 6'}
Received data: {'id': '17', 'name': 'Person 17', 'age': '37', 'city': 'City 7'}
Inserted data: {'id': '17', 'name': 'Person 17', 'age': '37', 'city': 'City 7'}
Received data: {'id': '18', 'name': 'Person 18', 'age': '38', 'city': 'City 8'}
Inserted data: {'id': '18', 'name': 'Person 18', 'age': '38', 'city': 'City 8'}
Received data: {'id': '19', 'name': 'Person 19', 'age': '39', 'city': 'City 9'}
Inserted data: {'id': '19', 'name': 'Person 19', 'age': '39', 'city': 'City 9'}
Received data: {'id': '20', 'name': 'Person 20', 'age': '40', 'city': 'City 0'}
Inserted data: {'id': '20', 'name': 'Person 20', 'age': '40', 'city': 'City 0'}
Received data: {'id': '21', 'name': 'Person 21', 'age': '21', 'city': 'City 1'}
Inserted data: {'id': '21', 'name': 'Person 21', 'age': '21', 'city': 'City 1'}
Received data: {'id': '22', 'name': 'Person 22', 'age': '22', 'city': 'City 2'}
Inserted data: {'id': '22', 'name': 'Person 22', 'age': '22', 'city': 'City 2'}
Received data: {'id': '23', 'name': 'Person 23', 'age': '23', 'city': 'City 3'}
Inserted data: {'id': '23', 'name': 'Person 23', 'age': '23', 'city': 'City 3'}
Received data: {'id': '24', 'name': 'Person 24', 'age': '24', 'city': 'City 4'}
Inserted data: {'id': '24', 'name': 'Person 24', 'age': '24', 'city': 'City 4'}
Received data: {'id': '25', 'name': 'Person 25', 'age': '25', 'city': 'City 5'}
Inserted data: {'id': '25', 'name': 'Person 25', 'age': '25', 'city': 'City 5'}
Received data: {'id': '26', 'name': 'Person 26', 'age': '26', 'city': 'City 6'}
Inserted data: {'id': '26', 'name': 'Person 26', 'age': '26', 'city': 'City 6'}
Received data: {'id': '27', 'name': 'Person 27', 'age': '27', 'city': 'City 7'}
Inserted data: {'id': '27', 'name': 'Person 27', 'age': '27', 'city': 'City 7'}
Received data: {'id': '28', 'name': 'Person 28', 'age': '28', 'city': 'City 8'}
Inserted data: {'id': '28', 'name': 'Person 28', 'age': '28', 'city': 'City 8'}
Received data: {'id': '29', 'name': 'Person 29', 'age': '29', 'city': 'City 9'}
Inserted data: {'id': '29', 'name': 'Person 29', 'age': '29', 'city': 'City 9'}
Received data: {'id': '30', 'name': 'Person 30', 'age': '30', 'city': 'City 0'}
Inserted data: {'id': '30', 'name': 'Person 30', 'age': '30', 'city': 'City 0'}
Received data: {'id': '31', 'name': 'Person 31', 'age': '31', 'city': 'City 1'}
Inserted data: {'id': '31', 'name': 'Person 31', 'age': '31', 'city': 'City 1'}
Received data: {'id': '32', 'name': 'Person 32', 'age': '32', 'city': 'City 2'}
Inserted data: {'id': '32', 'name': 'Person 32', 'age': '32', 'city': 'City 2'}
Received data: {'id': '33', 'name': 'Person 33', 'age': '33', 'city': 'City 3'}
Inserted data: {'id': '33', 'name': 'Person 33', 'age': '33', 'city': 'City 3'}
Received data: {'id': '34', 'name': 'Person 34', 'age': '34', 'city': 'City 4'}
Inserted data: {'id': '34', 'name': 'Person 34', 'age': '34', 'city': 'City 4'}
Received data: {'id': '35', 'name': 'Person 35', 'age': '35', 'city': 'City 5'}
Inserted data: {'id': '35', 'name': 'Person 35', 'age': '35', 'city': 'City 5'}
Received data: {'id': '36', 'name': 'Person 36', 'age': '36', 'city': 'City 6'}
Inserted data: {'id': '36', 'name': 'Person 36', 'age': '36', 'city': 'City 6'}
Received data: {'id': '37', 'name': 'Person 37', 'age': '37', 'city': 'City 7'}
Inserted data: {'id': '37', 'name': 'Person 37', 'age': '37', 'city': 'City 7'}
Received data: {'id': '38', 'name': 'Person 38', 'age': '38', 'city': 'City 8'}
Inserted data: {'id': '38', 'name': 'Person 38', 'age': '38', 'city': 'City 8'}
Received data: {'id': '39', 'name': 'Person 39', 'age': '39', 'city': 'City 9'}
Inserted data: {'id': '39', 'name': 'Person 39', 'age': '39', 'city': 'City 9'}
Received data: {'id': '40', 'name': 'Person 40', 'age': '40', 'city': 'City 0'}
Inserted data: {'id': '40', 'name': 'Person 40', 'age': '40', 'city': 'City 0'}
Received data: {'id': '41', 'name': 'Person 41', 'age': '21', 'city': 'City 1'}
Inserted data: {'id': '41', 'name': 'Person 41', 'age': '21', 'city': 'City 1'}
Received data: {'id': '42', 'name': 'Person 42', 'age': '22', 'city': 'City 2'}
Inserted data: {'id': '42', 'name': 'Person 42', 'age': '22', 'city': 'City 2'}
Received data: {'id': '43', 'name': 'Person 43', 'age': '23', 'city': 'City 3'}
Inserted data: {'id': '43', 'name': 'Person 43', 'age': '23', 'city': 'City 3'}
Received data: {'id': '44', 'name': 'Person 44', 'age': '24', 'city': 'City 4'}
Inserted data: {'id': '44', 'name': 'Person 44', 'age': '24', 'city': 'City 4'}
Received data: {'id': '45', 'name': 'Person 45', 'age': '25', 'city': 'City 5'}
Inserted data: {'id': '45', 'name': 'Person 45', 'age': '25', 'city': 'City 5'}
Received data: {'id': '46', 'name': 'Person 46', 'age': '26', 'city': 'City 6'}
Inserted data: {'id': '46', 'name': 'Person 46', 'age': '26', 'city': 'City 6'}
Received data: {'id': '47', 'name': 'Person 47', 'age': '27', 'city': 'City 7'}
Inserted data: {'id': '47', 'name': 'Person 47', 'age': '27', 'city': 'City 7'}
Received data: {'id': '48', 'name': 'Person 48', 'age': '28', 'city': 'City 8'}
Inserted data: {'id': '48', 'name': 'Person 48', 'age': '28', 'city': 'City 8'}
Received data: {'id': '49', 'name': 'Person 49', 'age': '29', 'city': 'City 9'}
Inserted data: {'id': '49', 'name': 'Person 49', 'age': '29', 'city': 'City 9'}
Received data: {'id': '50', 'name': 'Person 50', 'age': '30', 'city': 'City 0'}
Inserted data: {'id': '50', 'name': 'Person 50', 'age': '30', 'city': 'City 0'}
Received data: {'id': '51', 'name': 'Person 51', 'age': '31', 'city': 'City 1'}
Inserted data: {'id': '51', 'name': 'Person 51', 'age': '31', 'city': 'City 1'}
Received data: {'id': '52', 'name': 'Person 52', 'age': '32', 'city': 'City 2'}
Inserted data: {'id': '52', 'name': 'Person 52', 'age': '32', 'city': 'City 2'}
Received data: {'id': '53', 'name': 'Person 53', 'age': '33', 'city': 'City 3'}
Inserted data: {'id': '53', 'name': 'Person 53', 'age': '33', 'city': 'City 3'}
Received data: {'id': '54', 'name': 'Person 54', 'age': '34', 'city': 'City 4'}
Inserted data: {'id': '54', 'name': 'Person 54', 'age': '34', 'city': 'City 4'}
Received data: {'id': '55', 'name': 'Person 55', 'age': '35', 'city': 'City 5'}
Inserted data: {'id': '55', 'name': 'Person 55', 'age': '35', 'city': 'City 5'}
Received data: {'id': '56', 'name': 'Person 56', 'age': '36', 'city': 'City 6'}
Inserted data: {'id': '56', 'name': 'Person 56', 'age': '36', 'city': 'City 6'}
Received data: {'id': '57', 'name': 'Person 57', 'age': '37', 'city': 'City 7'}
Inserted data: {'id': '57', 'name': 'Person 57', 'age': '37', 'city': 'City 7'}
Received data: {'id': '58', 'name': 'Person 58', 'age': '38', 'city': 'City 8'}
Inserted data: {'id': '58', 'name': 'Person 58', 'age': '38', 'city': 'City 8'}
Received data: {'id': '59', 'name': 'Person 59', 'age': '39', 'city': 'City 9'}
Inserted data: {'id': '59', 'name': 'Person 59', 'age': '39', 'city': 'City 9'}
Received data: {'id': '60', 'name': 'Person 60', 'age': '40', 'city': 'City 0'}
Inserted data: {'id': '60', 'name': 'Person 60', 'age': '40', 'city': 'City 0'}
Received data: {'id': '61', 'name': 'Person 61', 'age': '21', 'city': 'City 1'}
Inserted data: {'id': '61', 'name': 'Person 61', 'age': '21', 'city': 'City 1'}
Received data: {'id': '62', 'name': 'Person 62', 'age': '22', 'city': 'City 2'}
Inserted data: {'id': '62', 'name': 'Person 62', 'age': '22', 'city': 'City 2'}
Received data: {'id': '63', 'name': 'Person 63', 'age': '23', 'city': 'City 3'}
Inserted data: {'id': '63', 'name': 'Person 63', 'age': '23', 'city': 'City 3'}
Received data: {'id': '64', 'name': 'Person 64', 'age': '24', 'city': 'City 4'}
Inserted data: {'id': '64', 'name': 'Person 64', 'age': '24', 'city': 'City 4'}
Received data: {'id': '65', 'name': 'Person 65', 'age': '25', 'city': 'City 5'}
Inserted data: {'id': '65', 'name': 'Person 65', 'age': '25', 'city': 'City 5'}
Received data: {'id': '66', 'name': 'Person 66', 'age': '26', 'city': 'City 6'}
Inserted data: {'id': '66', 'name': 'Person 66', 'age': '26', 'city': 'City 6'}
Received data: {'id': '67', 'name': 'Person 67', 'age': '27', 'city': 'City 7'}
Inserted data: {'id': '67', 'name': 'Person 67', 'age': '27', 'city': 'City 7'}
Received data: {'id': '68', 'name': 'Person 68', 'age': '28', 'city': 'City 8'}
Inserted data: {'id': '68', 'name': 'Person 68', 'age': '28', 'city': 'City 8'}
Received data: {'id': '69', 'name': 'Person 69', 'age': '29', 'city': 'City 9'}
Inserted data: {'id': '69', 'name': 'Person 69', 'age': '29', 'city': 'City 9'}
Received data: {'id': '70', 'name': 'Person 70', 'age': '30', 'city': 'City 0'}
Inserted data: {'id': '70', 'name': 'Person 70', 'age': '30', 'city': 'City 0'}
Received data: {'id': '71', 'name': 'Person 71', 'age': '31', 'city': 'City 1'}
Inserted data: {'id': '71', 'name': 'Person 71', 'age': '31', 'city': 'City 1'}
Received data: {'id': '72', 'name': 'Person 72', 'age': '32', 'city': 'City 2'}
Inserted data: {'id': '72', 'name': 'Person 72', 'age': '32', 'city': 'City 2'}
Received data: {'id': '73', 'name': 'Person 73', 'age': '33', 'city': 'City 3'}
Inserted data: {'id': '73', 'name': 'Person 73', 'age': '33', 'city': 'City 3'}
Received data: {'id': '74', 'name': 'Person 74', 'age': '34', 'city': 'City 4'}
Inserted data: {'id': '74', 'name': 'Person 74', 'age': '34', 'city': 'City 4'}
Received data: {'id': '75', 'name': 'Person 75', 'age': '35', 'city': 'City 5'}
Inserted data: {'id': '75', 'name': 'Person 75', 'age': '35', 'city': 'City 5'}
Received data: {'id': '76', 'name': 'Person 76', 'age': '36', 'city': 'City 6'}
Inserted data: {'id': '76', 'name': 'Person 76', 'age': '36', 'city': 'City 6'}
Received data: {'id': '77', 'name': 'Person 77', 'age': '37', 'city': 'City 7'}
Inserted data: {'id': '77', 'name': 'Person 77', 'age': '37', 'city': 'City 7'}
Received data: {'id': '78', 'name': 'Person 78', 'age': '38', 'city': 'City 8'}
Inserted data: {'id': '78', 'name': 'Person 78', 'age': '38', 'city': 'City 8'}
Received data: {'id': '79', 'name': 'Person 79', 'age': '39', 'city': 'City 9'}
Inserted data: {'id': '79', 'name': 'Person 79', 'age': '39', 'city': 'City 9'}
Received data: {'id': '80', 'name': 'Person 80', 'age': '40', 'city': 'City 0'}
Inserted data: {'id': '80', 'name': 'Person 80', 'age': '40', 'city': 'City 0'}
Received data: {'id': '81', 'name': 'Person 81', 'age': '21', 'city': 'City 1'}
Inserted data: {'id': '81', 'name': 'Person 81', 'age': '21', 'city': 'City 1'}
Received data: {'id': '82', 'name': 'Person 82', 'age': '22', 'city': 'City 2'}
Inserted data: {'id': '82', 'name': 'Person 82', 'age': '22', 'city': 'City 2'}
Received data: {'id': '83', 'name': 'Person 83', 'age': '23', 'city': 'City 3'}
Inserted data: {'id': '83', 'name': 'Person 83', 'age': '23', 'city': 'City 3'}
Received data: {'id': '84', 'name': 'Person 84', 'age': '24', 'city': 'City 4'}
Inserted data: {'id': '84', 'name': 'Person 84', 'age': '24', 'city': 'City 4'}
Received data: {'id': '85', 'name': 'Person 85', 'age': '25', 'city': 'City 5'}
Inserted data: {'id': '85', 'name': 'Person 85', 'age': '25', 'city': 'City 5'}
Received data: {'id': '86', 'name': 'Person 86', 'age': '26', 'city': 'City 6'}
Inserted data: {'id': '86', 'name': 'Person 86', 'age': '26', 'city': 'City 6'}
Received data: {'id': '87', 'name': 'Person 87', 'age': '27', 'city': 'City 7'}
Inserted data: {'id': '87', 'name': 'Person 87', 'age': '27', 'city': 'City 7'}
Received data: {'id': '88', 'name': 'Person 88', 'age': '28', 'city': 'City 8'}
Inserted data: {'id': '88', 'name': 'Person 88', 'age': '28', 'city': 'City 8'}
Received data: {'id': '89', 'name': 'Person 89', 'age': '29', 'city': 'City 9'}
Inserted data: {'id': '89', 'name': 'Person 89', 'age': '29', 'city': 'City 9'}
Received data: {'id': '90', 'name': 'Person 90', 'age': '30', 'city': 'City 0'}
Inserted data: {'id': '90', 'name': 'Person 90', 'age': '30', 'city': 'City 0'}
Received data: {'id': '91', 'name': 'Person 91', 'age': '31', 'city': 'City 1'}
Inserted data: {'id': '91', 'name': 'Person 91', 'age': '31', 'city': 'City 1'}
Received data: {'id': '92', 'name': 'Person 92', 'age': '32', 'city': 'City 2'}
Inserted data: {'id': '92', 'name': 'Person 92', 'age': '32', 'city': 'City 2'}
Received data: {'id': '93', 'name': 'Person 93', 'age': '33', 'city': 'City 3'}
Inserted data: {'id': '93', 'name': 'Person 93', 'age': '33', 'city': 'City 3'}
Received data: {'id': '94', 'name': 'Person 94', 'age': '34', 'city': 'City 4'}
Inserted data: {'id': '94', 'name': 'Person 94', 'age': '34', 'city': 'City 4'}
Received data: {'id': '95', 'name': 'Person 95', 'age': '35', 'city': 'City 5'}
Inserted data: {'id': '95', 'name': 'Person 95', 'age': '35', 'city': 'City 5'}
Received data: {'id': '96', 'name': 'Person 96', 'age': '36', 'city': 'City 6'}
Inserted data: {'id': '96', 'name': 'Person 96', 'age': '36', 'city': 'City 6'}
Received data: {'id': '97', 'name': 'Person 97', 'age': '37', 'city': 'City 7'}
Inserted data: {'id': '97', 'name': 'Person 97', 'age': '37', 'city': 'City 7'}
Received data: {'id': '98', 'name': 'Person 98', 'age': '38', 'city': 'City 8'}
Inserted data: {'id': '98', 'name': 'Person 98', 'age': '38', 'city': 'City 8'}
Received data: {'id': '99', 'name': 'Person 99', 'age': '39', 'city': 'City 9'}
Inserted data: {'id': '99', 'name': 'Person 99', 'age': '39', 'city': 'City 9'}
Received data: {'id': '100', 'name': 'Person 100', 'age': '40', 'city': 'City 0'}
Inserted data: {'id': '100', 'name': 'Person 100', 'age': '40', 'city': 'City 0'}
Received data: {'id': '1', 'name': 'Person 1', 'age': '21', 'city': 'City 1'}
Error: 1062 (23000): Duplicate entry '?' for key 'your_table.PRIMARY'
Received data: {'id': '2', 'name': 'Person 2', 'age': '22', 'city': 'City 2'}
Error: 1062 (23000): Duplicate entry '?' for key 'your_table.PRIMARY'
Received data: {'id': '3', 'name': 'Person 3', 'age': '23', 'city': 'City 3'}
Error: 1062 (23000): Duplicate entry '?' for key 'your_table.PRIMARY'
Received data: {'id': '4', 'name': 'Person 4', 'age': '24', 'city': 'City 4'}
Error: 1062 (23000): Duplicate entry '?' for key 'your_table.PRIMARY'
Received data: {'id': '5', 'name': 'Person 5', 'age': '25', 'city': 'City 5'}
Error: 1062 (23000): Duplicate entry '?' for key 'your_table.PRIMARY'
Received data: {'id': '6', 'name': 'Person 6', 'age': '26', 'city': 'City 6'}
Error: 1062 (23000): Duplicate entry '?' for key 'your_table.PRIMARY'
Received data: {'id': '7', 'name': 'Person 7', 'age': '27', 'city': 'City 7'}
Error: 1062 (23000): Duplicate entry '?' for key 'your_table.PRIMARY'
Received data: {'id': '8', 'name': 'Person 8', 'age': '28', 'city': 'City 8'}
Error: 1062 (23000): Duplicate entry '?' for key 'your_table.PRIMARY'
Received data: {'id': '9', 'name': 'Person 9', 'age': '29', 'city': 'City 9'}
Error: 1062 (23000): Duplicate entry '?' for key 'your_table.PRIMARY'
Received data: {'id': '10', 'name': 'Person 10', 'age': '30', 'city': 'City 0'}
Error: 1062 (23000): Duplicate entry '?' for key 'your_table.PRIMARY'
Received data: {'id': '11', 'name': 'Person 11', 'age': '31', 'city': 'City 1'}
Error: 1062 (23000): Duplicate entry '?' for key 'your_table.PRIMARY'
Received data: {'id': '12', 'name': 'Person 12', 'age': '32', 'city': 'City 2'}
Error: 1062 (23000): Duplicate entry '?' for key 'your_table.PRIMARY'
Received data: {'id': '13', 'name': 'Person 13', 'age': '33', 'city': 'City 3'}
Error: 1062 (23000): Duplicate entry '?' for key 'your_table.PRIMARY'
Received data: {'id': '14', 'name': 'Person 14', 'age': '34', 'city': 'City 4'}
Error: 1062 (23000): Duplicate entry '?' for key 'your_table.PRIMARY'
Received data: {'id': '15', 'name': 'Person 15', 'age': '35', 'city': 'City 5'}
Error: 1062 (23000): Duplicate entry '?' for key 'your_table.PRIMARY'
Received data: {'id': '16', 'name': 'Person 16', 'age': '36', 'city': 'City 6'}
Error: 1062 (23000): Duplicate entry '?' for key 'your_table.PRIMARY'
Received data: {'id': '17', 'name': 'Person 17', 'age': '37', 'city': 'City 7'}
Error: 1062 (23000): Duplicate entry '?' for key 'your_table.PRIMARY'
Received data: {'id': '18', 'name': 'Person 18', 'age': '38', 'city': 'City 8'}
Error: 1062 (23000): Duplicate entry '?' for key 'your_table.PRIMARY'
Received data: {'id': '19', 'name': 'Person 19', 'age': '39', 'city': 'City 9'}
Error: 1062 (23000): Duplicate entry '?' for key 'your_table.PRIMARY'
Received data: {'id': '20', 'name': 'Person 20', 'age': '40', 'city': 'City 0'}
Error: 1062 (23000): Duplicate entry '?' for key 'your_table.PRIMARY'
Received data: {'id': '21', 'name': 'Person 21', 'age': '21', 'city': 'City 1'}
Error: 1062 (23000): Duplicate entry '?' for key 'your_table.PRIMARY'
Received data: {'id': '22', 'name': 'Person 22', 'age': '22', 'city': 'City 2'}
Error: 1062 (23000): Duplicate entry '?' for key 'your_table.PRIMARY'
Received data: {'id': '23', 'name': 'Person 23', 'age': '23', 'city': 'City 3'}
Error: 1062 (23000): Duplicate entry '?' for key 'your_table.PRIMARY'
Received data: {'id': '24', 'name': 'Person 24', 'age': '24', 'city': 'City 4'}
Error: 1062 (23000): Duplicate entry '?' for key 'your_table.PRIMARY'
Received data: {'id': '25', 'name': 'Person 25', 'age': '25', 'city': 'City 5'}
Error: 1062 (23000): Duplicate entry '?' for key 'your_table.PRIMARY'
Received data: {'id': '26', 'name': 'Person 26', 'age': '26', 'city': 'City 6'}
Error: 1062 (23000): Duplicate entry '?' for key 'your_table.PRIMARY'
Received data: {'id': '27', 'name': 'Person 27', 'age': '27', 'city': 'City 7'}

KeyboardInterrupt: